In [3]:
import pandas as pd
data = pd.read_csv('E:/repos/ML_Repos/ml_music_profile_predictor/data/music.csv')

In [4]:
data.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [8]:
data.columns

Index(['age', 'gender', 'genre'], dtype='object')